<html>

<body>
    {% for t in tournaments %}
    <div>
        {{t.id}}
        <a href="/tournaments/delete?id={{t.id}}">Delete</a>
        <a href="/tournaments/reset-matches?id={{t.id}}">Reset Matches</a>
        <div style="padding-left: 20px">
            {% for m in t.matches %}
            <h3>Match({{m.matchId}}): {% if m.gameId %}

                <a href="{{gameServerUrl}}/{{m.gameId}}">View Game</a>
                <a href="/tournaments/match-status?id={{t.id}}&matchId={{m.matchId}}">match status</a>
                {% else %}
                <a href="/tournaments/start-match?id={{t.id}}&matchId={{m.matchId}}">run</a>
                {% endif %}
            </h3>
            Game Id: {{m.gameId}}
            <br/> Winner: {{m.winners}}
            <br/> {% for team in m.teams %} {{ loop.index }} {{team.teamName}} - {{team.snakeUrl}}
            <br/> {% endfor %}
            <br/> {% endfor %}
        </div>
    </div>
    {% endfor %}
</body>

</html>